/* Body */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* Calculator body */

#calculator {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 50px 30px;
    background-color: rgb(43, 43,43);
    border-radius: 20px;
}

/* Output screen */

#outputScreen {
    display: flex;
    flex-direction: column;
    background-color: #C2C4B6;
    padding: 24px 16px;
    border-radius: 24px 16px;
}

.operation {
    display: flex;
    color: #666;
    font-size: 1.625rem;
    font-family: Arial, Helvetica, sans-serif;
}

.output {
    font-size: 2.25rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* Top buttons */

.topButtons {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 5px;
}

.topButtons button {
    height: 60px;
    width: 110px;
    background-color: grey;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Number buttons */

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
    gap: 15px;
}

.buttons button {
    height: 64px;
    width: 64px;
    border-radius: 64px;
    font-size: 23px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.numberbtn {
    background-color: darkslategrey;
}

.operationbtn {
    background-color: orange;
}

.equalsbtn {
    background-color: orange;
}